{% extends 'base.html' %}
{% load static %}
{% block title %} Employment | JobPortal {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
 {% endblock stylesheets %}

{% block body %}
<div class="container-fluid">
{#    <div class="row">#}
{#        <div class="col-sm-6"></div>#}
{#        <div class="col-sm-6 float-right">#}
{#            <form id="search_form">#}
{#                <div class="row form-inline">#}
{#                    <input class="form-control col" type="search" placeholder="Skills"  value='' aria-label="Search" name="skills">#}
{#                    <input class="form-control col" type="search" placeholder="Number of years" value='' aria-label="Search" name="years">#}
{#                    <input class="form-control col" type="search" placeholder="lastname" value="" aria-label="Search" name="lastname">#}
{#                    <button class="btn btn-outline-success col" type="submit" id="searchbar_button">Search</button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="row col-sm-12">
                    <div class="col-sm-6">

                        <h3 class="box-title">Employments List</h3>
                    </div>
                    <div class="col-sm-6">
                        <button id="add-employment" class="btn btn-outline-success my-2 my-sm-0 float-end" type="submit"><a href="{% url 'dashboard:employment_create' %}">Add Employment</a></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap" id="user_dataTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% block scripts %}
        <script type="application/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
        <script src="{% static 'js/employment.js' %}"></script>
        <script>
            $(document).ready(function(){
                let data = {{ data|safe }};
                handler(data);
            });
        </script>
    {% endblock scripts %}
{% endblock body %}